body{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
nav a{
    color: rgb(233, 40, 40);
}
nav a:visited{
    color: rgb(160, 30, 30);
}
img{
    border: 2px solid rgb(13, 13, 182);
    border-bottom: 3px solid rgb(233, 40, 40);
}
.breadcrumbs{
    color: rgb(233, 40, 40);
}
.tema{
    color: rgb(206, 192, 192);
}
.categoria{
    color: rgb(190, 189, 189);
}
.fecha{
    font-size: 17px;
}
.subrayado{
    text-decoration: underline;
    text-decoration-color: rgb(233, 40, 40);
}
.cita{
    color: rgb(158, 152, 152);
}