.layout-grid {
    display: grid;
    grid-template-rows: auto 1fr 50px;
}

li {
    font-size: 22px;
}

.activo {
    color: rgb(40, 40, 42);
    font-weight: bolder;
}

footer {
    background: #6C757D;
}

footer p {
    margin-right: 10px;
}

nav.navbar {
  background-color: #CED4DA; /* Un tono morado como ejemplo */
}