body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

form h2 {
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}

.alert {
    padding: 10px;
    text-align: center;
}

.alert-success {
    background-color: green;
    color: #FFF;
}

.alert-danger {
    background-color: crimson;
    color: #FFF;
}

.alert-warning {
    background-color: orange;
    color: #FFF;
}

.btn {
    padding: 10px;
    width: 100%;    
    background: none;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    opacity: .8;
    cursor: pointer;
}

.btn-info {
    background: rgb(118, 156, 156);
    color: #FFF;
}

form {
    width: 220px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

form div {
    margin: 10px 0;
}

input[type="email"], input[type="password"] {
    width: 100%;
}