body {
    font-family: sans-serif;
    margin: 0 15px;
}

p {
    font-size: 20px;
}

h2, h3 {
    color: #FBAB21;
    margin-top: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-principal ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0; 
    background-color: #DB5B69;
    padding: 10px;
    margin: 0 auto;
    color: #FFF;
    clear: both;
    margin-bottom: 10px;
}

main {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    align-items: stretch;
}

.izquierda {
    display: flex;
    flex-direction: column;
    max-width: 290px;
}

.otras-noticias {
    background: #F0F1F0;
    min-height: 320px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.otras-noticias ul {
    list-style-type: none;
    padding-left: 0; 
    color: #2E585B;
    font-weight: 600;
    font-size: 25px;
}

.otras-noticias ul li {
    font-size: 20px;
}

.otras-noticias h3 {
    color: #000;
    margin-top: 10px;
}

.fecha-noticia {
    display: block;
    color: #989c98;
    border-bottom: 1px solid;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
}

.publicidad {
    border: 5px dashed #FBAB21;
    padding: 10px;
    background: #FDEFD6;
}

.leer-mas {
    color: #C48415;
    font-size: 19px;
}

section {
    display: flex;
    flex-direction: column;
}

article {
    margin-bottom: 20px;
}

article h2 {
    font-size: 33px;
}

.derecha {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    border: 4px solid #1AC0D0;
    padding: 10px;
}

.columna-derecha h3 {
    background: #1AC0D0;
    color: #FFF;
    padding: 5px;
    margin-top: 10px;
}

.columna-derecha p {
    font-size: 19px;
}

.imagen-texto {
    display: flex;
    gap: 15px;
}

article p {
    font-size: 23px;
}

article .leer-mas {
    display: block;
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    background: #F8F9F8;
    align-items: center;
}

footer nav ul {
    list-style-type: none;
    font-size: 18px;
}

footer nav ul li {
    background: #D1D1D1;
    color: #4E4C4C;
    margin-bottom: 3px;
    width: 300px;
    padding: 5px;
    font-weight: bold;
}

.creditos {
    font-weight: bold;
}