body {
    min-height: 100vh;
}

.row {
    min-height: 100vh;
}

.bg-primario {
    background-color: #6096BA;
}

.bg-secundario {
    background-color: #E7ECEF;
}

.color-texto {
    color: #E7ECEF;
}