body {
    background-image: url('../imgs/escuela_fondo.jpg');
    
    /* Hace que la imagen cubra todo */
    background-size: cover;

    /* Evita que la imagen se repita */
    background-repeat: no-repeat;

    /* Centra la imagen en la pantalla */
    background-position: center center;

    /* Asegura que el body ocupe al menos toda la altura de la ventana */
    min-height: 100vh;
}

.bg-secundario {
    background-color: #E7ECEF;
}

main {
    min-height: 100vh;
}

.formulario {
    max-width: 550px;
    width: 100%;
}